@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.App {
	text-align: center;
	margin-top: 5rem;
}

.quote-card {
	width: 40rem;
	padding: 30px;
	text-align: left;
	font-family: "Courgette", cursive;
}

.btn {
  margin: 4px;
  margin-bottom: 40pt;
}

@media only screen and (max-width: 600px) {
	.App {
		margin-top: 0;
	}

	.quote-card {
		width: fit-content;
	}
}
